@rendermode InteractiveWebAssembly
@page "/fileupload"
@inject HttpClient Http

<PageTitle>Upload de Arquivos</PageTitle>

<h3>Upload de Arquivo</h3>
 
<form method="post" @onsubmit="HandleFileUpload">

    <InputFile OnChange="OnInputFileChanges" multiple />
    <button type="submit"> Enviar</button>
</form>

@code {

    private IReadOnlyList<IBrowserFile>? selectedFiles;
    private string? UploadMessage;

    //method for when the user the select one or more files
    private async Task OnInputFileChanges(InputFileChangeEventArgs e)
    {
        selectedFiles = e.GetMultipleFiles();

        //test - OK
        Console.WriteLine($"Arquivos selecionados com sucesso: {selectedFiles.Count}");

        await Task.CompletedTask;
        UploadMessage = string.Empty;
    }

    //method for shared the files for the server
    private async Task HandleFileUpload()
    {
        if (selectedFiles is not null && selectedFiles.Count > 0 )
        {
            try
            {
                //create the multiformpartadatacontent object for the shared files in the request
                using var content = new MultipartFormDataContent();

                foreach(var file in selectedFiles)
                {
                    //test
                    Console.WriteLine($"Adicionando arquivos: {file.Name}");

                    //!!
                    content.Add(new StreamContent (file.OpenReadStream()), "files", file.Name);
                }

                var response = await Http.PostAsync("https://localhost:7095/fileupload2", content); //attention: confirm url 
                 
                var resultContent = await response.Content.ReadFromJsonAsync<ApiResponse>();

                if (response.IsSuccessStatusCode)
                {
                    
                    UploadMessage = $"Arquivos enviados com sucesso! {resultContent}";
                }
                else
                {
                    var errorContent = await response.Content.ReadAsStringAsync();
                    UploadMessage = $"Falha ao enviar o arquivo: {string.Join(", ", resultContent.files.Select(f => f.fileCode))}"";
                }
            }
            catch (Exception ex)
            {
                UploadMessage = $"Erro: {ex.Message}";
            }
        }
        else
        {
            UploadMessage = "Por favor, selecione pelo menos um arquivo para enviar.";
        }
    }
}



