<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BlazorAppLinkShort</a>
    </div>
</div>

<div class="nav-scrollable">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/fileupload" Match="NavLinkMatch.All">
                <span aria-hidden="true"></span> Upload de Arquivos
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/filedownload" Match="NavLinkMatch.All">
                <span aria-hidden="true"></span> Download de Arquivos
            </NavLink>
        </div>
    </nav>
</div>
